
.widget-area {
	display: block;
	transition: left $transition_normal, width $transition_normal;
	position: fixed;
	top: 0;
	bottom: 0;
	left: -105%;
	height: 100%;
	width: 80% !important;
	z-index: 99999;
	@include m(0);
	@include p(0);
	overflow: auto;
	overflow-x: hidden;
	box-shadow: .2em 0em 1em .1em black;
	@include bg-color( white, 1 );

	.hasadminbar & .close-btn-area {
		@include pxify( padding-top, 48 );
	}

	&.toggled {
		left: 0%;
	}

	&.full-screen {
		width: 100% !important;
	}

	.close-btn-area {
		position: sticky;
		top: 0;
		z-index: 9;
		@include bg-color( white, 1 );
		.group-area {
			display: flex;
			button {
				align-self: stretch;
				text-align: right;
				@include m(1.5);
			}
			.btn-close-sidebar {
				flex: 1;
			}
			.btn-full-width {
				@include px( 2.5 );
				@include ml( 0 );
			}
		}
	}
}

.widget {
	@include m4( 0, 0, 4, 0 );
	@include p(0);
	background: whitesmoke;
	border: 1px solid #ccc;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	
	.p2-my1 {
		@include p(2);
		@include my(1);
	}

	* {
		max-width: 100%;
	}

	form {

		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		
		input {
			&[type="text"]   ,
			&[type="search"] {
				@include p(1.5);
				@include m(1);
				max-width: 98%;
				width: calc(100% - .4em);
				display: block;
			}
		}

		button[type='submit'] {
			@include m(1);
			flex: 1;
			max-width: 98%;
			max-width: calc(100% - .4em);
			@extend .btn;
			@extend .btn-md;
			@extend .btn-light;
			transition: background $transition_fast, border $transition_fast;
		}
		select {
			@include m(1);
			flex: 1;
			max-width: 98%;
			max-width: calc(100% - .4em);
		}
	}



	&-title {
		text-indent: pm(2);
		border-bottom: 1px solid red;
		@include m( 0 );
		@include p( 2.5 );
		text-align: center;
		@include bg-color( white );
	}

	ul ,
	&.widgets-ul-default-settings {
		text-align: right;
		text-align: justify;
		@include p( 0 );
		@include m( 0 );
		list-style: none;

		ul {
			@include pr(0);
			list-style-position: inside;
			list-style-type: circle;

			// border-right: 1px dashed;
			border-color: $color__border_dark-button;
			li {
				padding: 0;
				margin: 0;
				display: inline;
				a {
					@include p4( 2.5, 5, 2.5, 2 );
					@include m( 0 );
					display: list-item;
				}
			}
		}
		
		li {
			@include mx(2);
			@include my(1);

			a {
				// @include bg-color( $color__dark, 1 );
				//@include py(2.5);
				@include p4( 2.5, 2, 2.5, 2 );
				@include color( #2057ff, 1 );
				display: block;

				&:hover ,
				&:focus ,
				&.focus {
					@include bg-color( lighten($color__dark-hover, 5%), 1 );
				}
			}
		}
	}

	&_recent_comments {

		ul {
			@extend .widgets-ul-default-settings;

			li {
				@include my(3);
				line-height: 2;
				&:before {
					content: url(images/comment.png);
					content: url(images/comment.svg);
					display: inline-block;
					line-height: 0;
					@include ml(1);
					vertical-align: middle;
				}
			}
		}
	}

	&_categories ,
	&_archive {
		form {
			display: flex;
			flex-direction: column;

			select {
				@include m(1);
				flex: 1;
				align-self: stretch;
			}
		}
		[name="archive-dropdown"]{
			@include m(1);
			flex: 1;
			width: calc( 100% - .4rem );
			align-self: stretch;
		}
	}

	&_calendar {

		.calendar_wrap {

			table {

				caption {
					@include color ( white , 1 );
					@include p4( 10, 1, 10, 1 );
					@include bg-color( $bg_table_caption , 1 );
					background: darken( $bg_table_caption, 2%) linear-gradient( to top , darken( $bg_table_caption, 6% ) 45% , transparent 45%);

				}

				thead {
					// background: red;
					tr {
						@include color( white , 1 );
						th {

							border: 1px solid #888;
							border-bottom-width: gmx(1);
							border-bottom-width: pm(1);
							line-height: 2;
							@include bg-color( $bg_table_caption, 1 );
							
						}
					}
				}

				tbody {
					
					tr {
						td {
							border: 1px solid #888;
							text-align: center;
							@include bg-color( whitesmoke, 1 );
								@include py(2);

							a {
								@include py(2);
								@include m4( -2, 0, -2, 0 );

								@include bg-color( darken( $bg_table_link, 0% ), 1 );
								background: $bg_table_link linear-gradient( to top , darken( $bg_table_link, 10% ) 45% , transparent 45% );
								@include color( $color__dark, 1 );
								width: 100%;
								display: block;
								transition: background $transition_fast, box-shadow $transition_fast;

								&:hover ,
								&:focus ,
								&.focus {

									@include bg-color(  $bg_table_link-hover, 1 );
									background: $bg_table_link-hover linear-gradient( to top , darken( $bg_table_link, 5% ) 45% , transparent 45% );

								}
							}
						}
					}
				}

				tfoot {
					tr {
						td {
							a {
								outline: none;
								display: block;
								text-align: center;
								@include color( white, 1 );
								@include py( 2 );
								@include m( 0 );
								border: 1px solid #888;
								@include bg-color( $bg_table_caption, 1 );
								background: $bg_table_caption linear-gradient( to top , darken( $bg_table_caption, 10% ) 45% , transparent 45% );
								transition: background $transition_fast;

								&:hover ,
								&:focus ,
								&.focus {
									@include bg-color( $bg_table_caption-hover, 1 );
									background: $bg_table_caption-hover linear-gradient( to top , darken( $bg_table_caption-hover, 10% ) 45% , transparent 45% );
								}
							}
						}
					}
				}
			}
		}
	}
	&_rss {
		ul {
			margin-right: -#{gmx(1.5)} !important;
			margin-right: -#{pm(1.5)} !important;
		}
	}
	&_tag_cloud {
		text-align: center;
	}
}
.widget {
	overflow: hidden;
	.recent-post-has-thumb {
	margin: 0 0 0 -#{gmx(17)};
	margin: 0 0 0 -#{pm(17)};
	padding: 0 gmx(2) 0 gmx(17);
	padding: 0 pm(2) 0 pm(17);
	}
}

.menu-after {
	float: left;
}

@media ( min-width: 720px ) and ( min-width: 45rem ) {
	.widget-area {
		position: relative;
		left: 0;
		box-shadow: none;
		z-index: 0;
		@include mt(4);
		.hasadminbar & {
			padding-top: 0;
		}
		.close-btn-area {
			display: none;
		}
	}
}