.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comments-area {
	ol {
		padding: 0;
		margin: 0;
		li {
			.comment-body {
				border: 1px solid #ccc;
				@include mx( 2 );
				line-height: 2;
				@include bg-color( whitesmoke, 1 );
				.comment-meta {
					border-bottom: solid #333;
					@include pxify( border-bottom-width, 3 );
					overflow: hidden;
					img {
						float: right;
						@include ml( 2 );
						vertical-align: middle;
					}
					.comment-metadata {
						a[href*='#comment'] {
							@include p( 1 );
							display: inline-block;
							&:before {
								content: url( images/posted-on.png );
								content: url( images/posted-on.svg );
							}
							&:before {
								display: inline-block;
								vertical-align: middle;
								line-height: 1;
							}
						}
					}
					.comment-edit-link {
						@extend .btn;
						@extend .btn-md;
						@extend .btn-primary;
						display: block;
						text-align: center;
						@include m( 1 );
						transition: background $transition_fast, box-shadow $transition_fast, border-color $transition_fast;		
						@extend .g-shad;
						&:hover {
							@extend .g-shad-hover;
						}
					}
				}
			}
			.comment-content {
				clear: both;
				@include p( 1 );
				text-align: justify;
			}

			.reply {
				@include p( 1 );
				a {
					@extend .btn;
					@extend .btn-md;
					@extend .btn-warning;
					display: block;
					text-align: center;
					transition: background $transition_fast, box-shadow $transition_fast, border-color $transition_fast;		
					@include g-shad( $warning );
				}
			}
		}
	}
	.comment-respond {
		border: 1px solid #ccc;
		@include mt( 5 );
		@include p( 2 );
		@extend .simple-form;
		text-align: right;
		.logged-in-as {
			display: block;
			a {
				
			}
		}
		.form-submit {
			transition: background $transition_fast, box-shadow $transition_fast, border-color $transition_fast;			
			@include g-shad( $primary );
		}
		.comment-notes {
			display: block;
			border: 1px solid #ccc;
			@include p( 2 );
			@include bg-color( whitesmoke, 1 );
			#email-notes {
				display: block;
			}
		}
	}
}