footer.site-footer {
  border-top: gmx(1) solid orangered;
  border-top: pm(1) solid orangered;
  @include bg-color( $bg_dark, 1 );
  @include color( $color__dark, 1 );

  .bigprs-official-footer-menu-container ,
  .bigprs-official-footer-menu-bar {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    @include py( 2.5 );
    li {
      display: inline-block;

      &:before {
        content: '|';
        @include mx( 2.5 );
      }
      &:nth-of-type( 1 ):before {
        display: none;
      }
      a {
        @include color ( darken( $light, 10% ) );
        &:hover ,
        &:focus ,
        &.focus {
          @include color( whitesmoke );
        }
      }
    }
  }

  .widget {

    @include bg-color( $color__background-menu, 1 );
    @include color( $btn__light, 1 );
    border-color: $color__text-main;

    &-title {
      text-align: center;
      @include p( 2.5 );
      @include m( 0 );
      @include mb( 5 );
      border-bottom: gmx(1) solid;
      border-bottom: pm(1) solid;
      border-color: $color__link;
      background: transparent;
    }

    ul {
      @include pr( 3 );
      @include mx( 0 );
      list-style-position: inside;
      list-style-type: circle;
      ul {

        border-right: 1px dashed;
        border-color: $color__border_dark-button;
      }
      li {
        padding: 0;
        margin: 0;
        display: inline;
        a {
          @include p4( 2.5, 0, 2.5, 1 );
          @include m( 0 );
          @include color( $color__dark, 1 );
          @include bg-color( $bg_link, 1 );
          display: list-item;

          &:hover ,
          &:focus ,
          &.focus {
            @include bg-color( $bg_link-hover, 1 );
          }
        }
      }
    }

    &_calendar {
      table {
        caption {
					@include bg-color( $bg_table_caption-dark , 1 );
					background: darken( $bg_table_caption-dark, 2%) linear-gradient( to top , darken( $bg_table_caption-dark, 6% ) 45% , transparent 45%);
        }
        thead {
          tr {
            th {
              @include bg-color( lighten( $bg_dark, 10% ), 1 );
            }
          }
        }
        tbody {
          tr {
            td {
              @include bg-color( $bg_dark, 1 );
            }
          }
        }
        tfoot {
          tr {
            td {
              a {
								@include bg-color( $bg_table_caption-dark, 1 );
                background: $bg_table_caption-dark linear-gradient( to top , darken( $bg_table_caption-dark, 10% ) 45% , transparent 45% );
              }
            }
          }
        }
      }
    }
  &_tag_cloud {
		a {
			@include color( white, 1 );
		}
  }
  }
  @media ( min-width: 720px ) and ( min-width: 45rem ) {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    .widget {
      width: 32%;
      margin: 0% 1% 1%;
      display: inline-block;
      vertical-align: top;

      &:nth-child( 3n ) {
        // margin-right: 1%;
        margin: 0% 0% 1%;
      }

      // &:nth-child(3n) {
      //   margin-left: 1%;
      // }
    }
  }
}
