.small-logo {
  max-width: $max-logo-size;
  max-height: $max-logo-size;
  display: inline-block;
}

.bg-full-size {
  background-size: cover;
  background-size: 100% 100%;
}

.header-size {
  // min-height: 500px;
}

html, body{
  // position: relative;
}

.small-logo img {
  width: $max-logo-size;
  max-width: $max-logo-size;
}

.header-custom-logo {
    line-height: 0;
    overflow: hidden;
    text-align: center;
    img {
        @include p(5);
        width: auto;
        max-width: 300px;

    }
}

.site-header {
  .site-branding {
    border-right: gmx(1) solid darkgreen;
    border-right: pm(1) solid darkgreen;
    background: linear-gradient( to left, rgba( white, .3 ), transparent );
    @include m(3);
    @include p(3);

    .site-title {
      border-right: gmx(1) solid $color__border-site-title;
      border-right: pm(1) solid $color__border-site-title;
      background: $bg_site-title;
      background: linear-gradient( to left, rgba( $bg_site-title, .3 ), transparent );
      @include m(1);
      @include mb(2);
      @include p(3);
    }
    h1.site-title {
      font-size: 120%;
    }

    .site-description {
      border-right: gmx(1) solid $color__border-site-title;
      border-right: pm(1) solid $color__border-site-title;
      background: linear-gradient( to left, rgba( white, .3 ), transparent );
      @include m(1);
      @include p(3);
    }
  }
}

@media ( min-width: 720px ) and ( min-width: 45rem ) {

  .site-header {
    .site-branding {
      min-width: 50%;
      width: auto;
      display: inline-block;
      vertical-align: middle;
      @include p4( 5, 3, 5, 3 );
      .site-title {
        @include mb(5);
      }
      h1.site-title {
        font-size: 140%;
      }
    }
  }

  .header-custom-logo {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: auto;
    img {
    }
  }

}
@media print {

}
