.sticky {
	display: block;
}

.hentry {
	margin: gmx(4) 0 gmx(4);
	margin: pm(4) 0 pm(4);
	border: 1px solid;
	border-color: $color__border-button;
	overflow: hidden;
	word-wrap: break-word;
	@include colorify( background, whitesmoke );

	.attachment {
		img {
			display: block;
			@include mx(auto);
		}
	}

		.post-thumbnail {
			.attachment-post-thumbnail ,
			.attachment-bigprs_shop_medium ,
			img {
				border: 1px solid;
				border-color: $color__border_dark-button-hover;
				@include p( 1 );
				@include m4(0, auto, -26, auto);
				display: block;
			}
		}
	.entry {
		&-header {
			// background: red;
			@include mb( 2 );
			@include bg-color( white );
		}
		&-title {
			@include p4(0, 3, 0, 3);
			font-size: 160%;
			span {
				@extend .spacial-title;
			}
		}
		&-meta {
			@include p(2);
			border-bottom: gmx(1.2) solid $bg_table_caption;
			border-bottom: pm(1.2) solid $bg_table_caption;
			.posted-on {
				display: block;
			}
			.byline {
				display: block;

				.author ,
				.vcard {
					display: inline-block;
				}
			}
		}

		&-content {
			@include p( 2 );
			@include m( 0 );
			text-align: justify;

			.continue-link {
				color: white;
				transition: box-shadow $transition_fast;
				margin: 0 auto;
				width: 50%;
				text-align: center;
				&:hover ,
				&:focus ,
				&.focus ,
				&:visited ,
				&:active {
					color: white;
					@extend .g-shad-hover;
				}
			}
			.wp-caption {
				@include bg-color( whitesmoke, 1 );
				border: 1px solid;
				border-color: $color__border-button;
				transition: $transition_fast;
				@extend .g-shad;
				img {
					// @include mb(-20);
				}
				.wp-caption-text {
					@include mt( 0 );
					@include font-size( .9 );
					@include px( 1 );
					// margin-top: -100%;
				}
				&:hover , 
				&:focus ,
				&.focus {
					@extend .g-shad-hover;
					border-color: $color__border-dark-button;
				}
			}

			ul ,
			ol {
				@include pr( 5 );
				@include m( 0 );
				list-style-position: inside;
				ul ,
				ol {
					// border-right: 1px dashed;
				}
				li {
					list-style-position: outside;
					@include pr( 0 );
				}
			}
			ul {
				list-style-type: disc;
				li {
					@include pr( 0 );
				}
			}

			img {
				max-width: 100%;
			}
			
			blockquote {
				border-right: gmx( 1.25 ) solid;
				border-right: pm( 1.25 ) solid;
				border-color: #aaa;
				&:before {
					content: url(./images/quotes-right.png);
					content: url(./images/quotes-right.svg);
					// transform: rotate(180deg);
					opacity: .45;
					// position: absolute;
					@include mt( 0 );
					@include mr( -11 );
					@include font-size( 3 );
					line-height: 0;
					float: right;
				}
				p {
					@include m4( 0, 2.5, 0, 2.5);
				}
			}

			table {
				position: relative;
				border: gmx(.25 ) solid;
				border: pm(.25 ) solid;
				overflow: auto;
				max-width: 100%;
				border-spacing: 0;
				border-color: $color__border-button;
				thead, 
				tbody,
				tfoot {
					// display: block;
				}
				tr:nth-child(odd) {
				}
				td ,
				th {
					@include p(1);
				}
				th {
				}
				thead {
						position: sticky;
						top: 0;
						text-align: center;
					tr {
						border-bottom: 2px solid $bg_table_caption;
						th {
							@include p4(2.5, 2, 2.5, 2);
						}
					}
				}
				tbody {
					tr {
						td {
							// display: inline-block;
						}
						td:hover {
							
						}
					}
					tr:nth-child(odd) {
						@include bg-color( $bg_dark, .1 );
					}
				}
				tfoot {
					tr {
						td {
						}
					}
				}
			}

			.page-links {
				@extend .spacial-links;
			}
			form {
				@extend .simple-form;
			}
			.woocommerce-MyAccount-content {
				p {
					line-height: 1.7;
					a {
					@include pr( 1.5 );
					}
				}
			}
			.woocommerce-form__label {
				@include mt( 5 );
				input {
					vertical-align: middle;
				}
			}
		}

		&-footer {
			@include p(2);
			border-top: gmx(1.2) solid $bg_table_caption;
			border-top: pm(1.2) solid $bg_table_caption;
			@include bg-color( white );

			> span {
				display: block;
				a {
					@include my( .7 );
					display: inline-block;
				}
			}
			.cat-links ,
			.tags-links {
				@extend .spacial-links;
				a {
					transition: border $transition_fast;
				}
			}
			.comments-link {}
			.edit-link {}

		}
	}
}

.entry-summary {
	@include px( 2 );
	text-align: justify;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	@include m4( 0, 0, 7.5, 0 );
}

.woocommerce-products-header__title {
	@extend .spacial-title;
}
.woocommerce-products-header ,
.woocommerce-result-count {
	@include px( 1 );
}