.gallery {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	@include mx(1);
	@include bg-color( whitesmoke, 1 );
	border: 1px solid;
	border-color: $color__border-button;
	transition: $transition_fast;
	@extend .g-shad;
	// @include p(.75);

	&:hover , 
	&:focus ,
	&.focus {
		@extend .g-shad-hover;
		border-color: $color__border-dark-button;
	}

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			max-width: map-get( $columns, $i );
		}
	}
}

.gallery-caption {
	display: block;
	@include p4(0, 2, 0, 2);
	text-align: right;
}
