.main-navigation {
	clear: both;
	display: inline-block;
	width: 100%;
	@include bg-color ( $color__background-menu, .7 ) ;
	text-align: center;

	.menu-toggle ,
	.sidebar-toggle {
		@include remify( min-width, 7 );
	}
	.menu-toggle {
		float: right;
		@include m4(2, 2, 2, 0);
		text-align: right;
	}
	.sidebar-toggle {
		float: left;
		@include m4(2, 0, 2, 2);
	}
	.shop-menu-button { 
		display: inline-block; 
		@include m(2);
		img {
			min-width: 24px;
			min-height: 24px;
		}
	}
	.navigation-slider {
		position: fixed;
		@include remify( bottom, .26 );
		left: 50%;
		@include ml( -6.5 );
		z-index: 99;
		@include g-shad( $primary, .63, 1.2 );
		transition: bottom $transition_fast, box-shadow $transition_fast;
	}
	&.pin-menu-bar > .navigation-slider  {
		@include remify( bottom, 3.8 );
	}
	&.pin-menu-bar {
		position: fixed;
		bottom: 0%;
		animation: drop-up .4s linear;
		z-index: 99;
	}

	// .hasadminbar & > div > ul,
	.hasadminbar & .h-access-menu {
		@include pxify( padding-top, 46 );
	}

	& .navigation-menus {
		z-index: 9999;
		display: block;
		position: fixed;
		top: 0;
		right: -110%;
		height: 100%;
		width: 80%;
		@include m(0);
		@include p(0);
		overflow-x: hidden;
		overflow-y: auto;
		box-shadow: -.2em 0em 1em .1em black;
		transition: right $transition_normal;
		text-align: right;
		@include bg-color( $bg_dark );
	}
	
	&.toggled .navigation-menus {
		right: 0%;
	}

	li {
		@include m(0);
		@include p(0);
		display: block;

		& ul {
			@include m(0);
			@include p(0);
			position: relative;
			overflow: hidden;
			// display: none;
			height: 100%;
			max-height: 0;
			transition: max-height $transition_normal, height $transition_normal;
			will-change: max-height;

			a {
				//background: #444;
			}
		}
		// &:hover > ul,
		// &:focus > ul,
		&.active > ul {
			// display: block;
			max-height: 100%;
		}


		&.menu-item-has-children {

			& > a {
				position: relative;
				display: block;
				overflow: hidden;
				@include pl(11);
				word-wrap: break-word;

				transition: background $transition_fast;

				img.after{
					display: inline-block;
					transform: rotate( -45deg );
					transform-origin: 50% 50%;
					transition: transform $transition_fast;
					position: absolute;
					left: gmx( 2 );
					left: pm( 2 );
					top: gmx( 3 );
					top: pm( 3 );
					line-height: 0;
					border-radius: 50%;
					@include p(0);
					@include m(0);
					// background: red;
					@include bg-color( darken( red, 10% ), 1 ); 
					// contents say that browser be ready for contents changes
					// will-change: contents;
					will-change: transform, left, top, contents, scroll-position, transition;
				}

			}
			&.active > a img.after {
					will-change: transform, left, top, contents, scroll-position;
				transform: rotate( -90deg );
			}
			&.active > a {
				@include bg-color( #3b5998, 1 );
				&:hover ,
				&:focus ,
				&.focus {
					@include bg-color( #4967a7, 1 );
				}
			}
			ul li a {
				background: #3b5998;
				&:hover ,
				&:focus ,
				&.focus {
					@include bg-color( #4967a7, 1 );
				}
			}
		}
		
		a {
			display: block;
			position: relative;
			text-decoration: none;
			overflow: hidden;
			@include py(3);
			@include px(2);
			@include bg-color ( #222, 1 );
			// background: linear-gradient( 0deg, red 40%, transparent 40% );
			// background: linear-gradient(red, yellow);

			color: $color__background-body;
	
			&:hover {
				@include bg-color( $bg_link-hover, 1 );
			}

			&:after {
				content: '';
				position: absolute;
				@include bg-color( $bg_link-wave, 1 );
				opacity: .4;
				width: 0px;
				height: 0px;
				line-height: 0;
				padding: 5px;
				margin: 0;
				margin-top: -5px;
				margin-left: -5px;
				transform-origin: 50% 50%;
				transform: scale( 0 );
				border-radius: 50%;
				user-select: none;
				pointer-events: none;
				will-change: transform, left, top, contents, scroll-position;
			}
			&.wave:after {
			   transition: transform $transition_normal, opacity $transition_normal;
			   transform: scale( 30 );
			   opacity: 0;
		   }
		}

	}
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		@include bg-color( red, .2 );
	}


	ul {
		list-style: none;
		@include bg-color( $color__background-menu, 1 ) ;
		width: 100%;
		@include p( 0 );
		@include m( 0 );

		&.h-access-menu {
			position: sticky;
			top: 0;
			background-color: transparent;
			display: flex !important;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			@include bg-color( $color__background-menu, 1 ) ;
			@include p(1);
			z-index: 1;
			li {
				width: auto;
				line-height: 0;
				@extend .v-middle;
				@include m( 1, '!important' );
				// background: red;
				padding: 0;
				text-align: center;
				flex: 1;
				a {
					background: transparent;
					// background: blue;
					line-height: 0;
					height: 100%;
					@include pl(11);

					text-align: center;
					&:after ,
					&:before{
						display: none;
					}
					&:before {
							// background: green;
							padding: 0;
							margin: 0;
							line-height: 0;
							height: 0;
							width: 0;
							@include mt( -1 );
					}
					&[href*="instagram.com"] {
						// background: linear-gradient( 45deg, yellow 5%, red 30%, #8c00ff 70% );
						&:before {
							display: inline-block;
							content: url(images/instagram.svg);
							@include mr( 1 );
						}
					}
					&[href*="telegram.me"] ,
					&[href*="t.me"] {
						&:before {
							display: inline-block;
							content: url(images/telegram.svg);
							@include mr( 1 );
						}
					}
					&[href*="plus.google.com"] {
						&:before {
							display: inline-block;
							content: url(images/google.svg);
							@include mr( 1 );
						}
					}
					&[href*="facebook.com"] {
						background: #3b5998;
						&:before {
							display: inline-block;
							content: url(images/facebook.svg);
							@include mr( 1 );
						}
					}
					&[href*="/shop"] {
						&:before {
							display: inline-block;
							content: url(images/shop.svg);
							@include mr( 1 );
						}
					}
					&[href*="/cart"] {
						&:before {
							display: inline-block;
							content: url(images/cart.svg);
							@include mr( 1 );
						}
					}
					&[href*="/checkout"] {
						&:before {
							display: inline-block;
							content: url(images/checkout.svg);
							@include mr( 1 );
						}
					}
					&[href*="/my-account"] { 
						&:before {
							display: inline-block;
							content: url(images/account.svg);
							@include mr( 1 );
						}
					}

				}

				&.menu-item {
					@extend .is-item;
				}
				&.is-item {
					@include p(1);
					transition: background .1s linear;
					border: 1px solid;
					border-color: $color__border_dark-button;


					@include bg-color($bg_dark, .5);

					&:hover {
						@include bg-color( $bg_link-hover, .8);
						border-color: $color__border_dark-button-hover;
					}
					&:focus {
						border-color: $color__border_dark-button-focus;
					}
				}
				&.has-btn {
					flex: 1;
					button,
					input[type="submit"],
					input[type="button"] {
						@include pxify( min-width, 113 );
						width: 100%;
						text-align: right;
					}
				}
			}
		}
		
		ul {
			//box-shadow: $shadow__color-menu;
			width: 100%;
			@include bg-color ( lighten($color__background-menu, 5%) , 1);


			ul {
				width: 100%;
				@include bg-color ( lighten($color__background-menu, 10%), 1 );
			}

			li {
				width: 100%;
				display: block;

				&:hover > ul,
				&.focus > ul {
				}
			}

			a {
				display: block;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}


	}


}
/* Small menu. */
.sidebar-toggle,
.menu-toggle, 
.main-navigation.toggled ul { 
	display: block;
}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		// @include font-size( 1.1 );
		margin: 0 0 1.5em;
		overflow: hidden;
		padding: 1em 0;
	}

	// @include clearfix;
	.nav-previous {
		// float: left;
		// width: 50%;
		a:after {
			content: url(images/arrow-circle-o-left.png); 
			content: url(images/arrow-circle-o-left.svg); 
			line-height: 0;
			display: inline-block;
			vertical-align: top;
			@include m4( 0, 1, 0, -1);
			@include font-size( .6 );
		}
	}

	.nav-next {
		// float: right;
		// width: 50%;
		a:before {
			content: url(images/arrow-circle-o-right.png);
			content: url(images/arrow-circle-o-right.svg); 
			line-height: 0;
			display: inline-block;
			vertical-align: top;
			@include m4( 0, -1, 0, 1);
			@include font-size( .6 );
		}
	}

	.nav-previous ,
	.nav-next {
		width: 100%;
		text-align: center;
		@include font-size( 1.05 );
		@extend .spacial-links;
		a {
			transition: box-shadow $transition_fast, border $transition_fast;
			@extend .g-shad;
			display: block;
			@include p(2.5);
			@include m4(3, 3, 3, 3);
			&:hover {
				@extend .g-shad-hover;
			}
		}
	}
}

@media ( min-width: 720px ) and ( min-width: 45rem ) {
	.main-navigation {
		&.pin-menu-bar {
			position: static;
		}

		.hasadminbar & .h-access-menu {
			@include pxify( padding-top, 0 );
		}
		.sidebar-toggle,
		.menu-toggle ,
		.navigation-slider {
			display: none !important;
		}

		ul {
			display: block;
		}


		.navigation-menus {
			overflow: visible;
			background: transparent;
			width: 100%;
			box-shadow: none;
			position: static;
			right: 0;
			@include p4( 2.5, 2.5, 2.5, 2.5 );
			ul.h-access-menu {
				float: left;
				// display:inline-block;
				@include remify( width, 13 );
				height: 100%;
				@include mr( 2.5 );
				@include mb( 2.5 );
				// @include remify( margin-left, -14 );
				.has-btn {
					display: none;
				}
			}
			.bigprs-official-primary-menu-container {
				// float: right;
				// display: inline-block;
				display: flex;
				// height: 100%;
				overflow: visible;
				@include bg-color( $bg_dark );
				// @include remify( padding-left, 13 );
				#primary-menu {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					align-items: stretch;
					justify-content: space-between;
					li {
						float: right;
						position: relative;
						@include pxify( min-width, 80);
						width: 20%;
						text-align: center;
						a {
							height: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							word-break: break-word;
						}
						&.menu-item-has-children {
							// overflow: visible;
							ul {
								z-index: 999;
								min-width: 200px;
								background: transparent;
								overflow: hidden;
								position: absolute;
								display: block;
								height: auto;
								ul {

									position: relative;
								}
								li {
									width: 100%;

									a {
										text-align: right;
										justify-content: flex-start;
									}
								}
							}
							// >ul {
							// 	// position: absolute;
							// 	// top: 100%;
							// 	// overflow: visible;
							// 	position: absolute;
							// 	top: 100%;
							// 	li {
							// 		position: relative;
							// 	}
							// }
						}
						&:nth-of-type( 5n + 1 ) {
							clear: right;
						}
					}
				}
			}
		}
	}
}