@function pm ($i) {
  @if $i == auto {
    @return auto;
  }
  @return .2rem * $i;
}
@function gmx ($i) {
  @if $i == auto {
    @return auto;
  }
  @return 3.2px * $i;
}

@function br ( $i ) {
  @return $i * 1.5%;
}

@function str-replace ( $string, $search, $replace: '') {
  $index: str-index( inspect($string), $search );

  @if $index {
    @return str-slice( inspect($string), 1, $index - 1 ) + $replace + str-replace( str-slice( inspect($string), $index + str-length( $search ) ), $search, $replace );
  }

  @return $string;
}