@import 'functions';
@mixin gutters($class, $property) {
  // vertical paddings/margins
  @for $i from 8 through 0 {
  .#{$class}y-#{$i}{
    #{$property}-top: gmx($i);
    #{$property}-bottom: gmx($i);
    #{$property}-top: pm($i);
    #{$property}-bottom: pm($i);
    }
  }

//horizental paddings/margins
  @for $i from 8 through 0 {
  .#{$class}x-#{$i}{
    #{$property}-right: gmx($i);
    #{$property}-left: gmx($i);
    #{$property}-right: pm($i);
    #{$property}-left: pm($i);
  }
  }

// padding/margins top
  @for $i from 8 through 0 {
  .#{$class}t-#{$i}{
    #{$property}-top: gmx($i);
    #{$property}-top: pm($i);
    }
  }

// padding/margins bottom
  @for $i from 8 through 0 {
  .#{$class}b-#{$i}{
    #{$property}-bottom: gmx($i);
    #{$property}-bottom: pm($i);
    }
  }

// padding/margins right
  @for $i from 8 through 0 {
  .#{$class}r-#{$i}{
    #{$property}-right: gmx($i);
    #{$property}-right: pm($i);
    }
  }

// padding/margins left
  @for $i from 8 through 0 {
  .#{$class}l-#{$i} {
      #{$property}-left: gmx($i);
      #{$property}-left: pm($i);
    }
  }

// padding/margins left
  @for $i from 8 through 0 {
  .#{$class}-#{$i} {
      #{$property}: gmx($i);
      #{$property}: pm($i);
    }
  }
}

@include gutters(p, padding);
@include gutters(m, margin);

// both vertical/horizental collers
// paddings
@mixin p4($input1, $input2, $input3, $input4, $important: '') {
  padding: gmx($input1) gmx($input2) gmx($input3) gmx($input4) #{$important};
  padding: pm($input1) pm($input2) pm($input3) pm($input4) #{$important};
}
// both vertical/horizental collers
// paddings
@mixin m4($input1, $input2, $input3, $input4, $important: '') {
  margin: gmx($input1) gmx($input2) gmx($input3) gmx($input4) #{$important};
  margin: pm($input1) pm($input2) pm($input3) pm($input4) #{$important};
}
// both vertical/horizental collers
// paddings
@mixin p($em, $important: '') {
    padding: gmx($em) #{$important};
    padding: pm($em) #{$important};
  }
  
// margins
@mixin m($em, $important: '') {
    margin: gmx($em) #{$important};
    margin: pm($em) #{$important};
  }

// singla caller vertical/horizental
// padding vertical
@mixin py($em, $important: '') {
    padding-top: gmx($em) #{$important};
    padding-bottom: gmx($em) #{$important};
    padding-top: pm($em) #{$important};
    padding-bottom: pm($em) #{$important};
  }

// margin vertical
@mixin my($em, $important: '') {
    margin-top: gmx($em) #{$important};
    margin-bottom: gmx($em) #{$important};
    margin-top: pm($em) #{$important};
    margin-bottom: pm($em) #{$important};
  }

// padding horizental
@mixin px($em, $important: '') {
    padding-right: gmx($em) #{$important};
    padding-left: gmx($em) #{$important};
    padding-right: pm($em) #{$important};
    padding-left: pm($em) #{$important};
  }

// margin horizental
@mixin mx($em, $important: '') {
    margin-right: gmx($em) #{$important};
    margin-left: gmx($em) #{$important};
    margin-right: pm($em) #{$important};
    margin-left: pm($em) #{$important};
  }

// singular paddings
// padding top
@mixin pt($em, $important: '') {
    padding-top: gmx($em) #{$important};
    padding-top: pm($em) #{$important};
  }

// padding bottom
@mixin pb($em, $important: '') {
    padding-bottom: gmx($em) #{$important};
    padding-bottom: pm($em) #{$important};
  }

// padding right
@mixin pr($em, $important: '') {
    padding-right: gmx($em) #{$important};
    padding-right: pm($em) #{$important};
  }

// padding left
@mixin pl($em, $important: '') {
    padding-left: gmx($em) #{$important};
    padding-left: pm($em) #{$important};
  }

// single margin caller
// margin top
@mixin mt($em, $important: '') {
    margin-top: gmx($em) #{$important};
    margin-top: pm($em) #{$important};
  }

// margin bottom
@mixin mb($em, $important: '') {
    margin-bottom: gmx($em) #{$important};
    margin-bottom: pm($em) #{$important};
  }

//margin right
@mixin mr($em, $important: '') {
    margin-right: gmx($em) #{$important};
    margin-right: pm($em) #{$important};
  }

// margin left
@mixin ml($em, $important: '') {
    margin-left: gmx($em) #{$important};
    margin-left: pm($em) #{$important};
  }