@import 'gutters';

// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

/**
 * Get Rem and 
 * Create px and rem based for attributes
 */
@mixin remify( $prop, $val, $important: '' ) {
	#{$prop}: ( $val * 16 ) * 1px #{$important};
	#{$prop}: $val * 1rem #{$important};
}

/**
 * Get PX and 
 * Create px and rem based for attributes
 */
@mixin pxify ( $prop, $val, $important: '' ) {
	#{$prop}: $val * 1px #{$important};
	#{$prop}: ( $val / 16 ) * 1rem #{$important};
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin bg-color( $color, $alpha: 1 ) {
	background-color: rgb(red($color), green($color), blue($color));
	// background-color: ie-hex-str( rgba( $color, $alpha ) );
	background-color: unquote("rgba(#{red($color)}, #{green($color)},#{blue($color)}, #{$alpha})");
	background-color: unquote("hsla(#{str-replace(hue($color), 'deg')},#{saturation($color)}, #{lightness($color)}, #{$alpha})" );
}

@mixin color( $color, $alpha: 1 ) {
	color: rgb(red($color), green($color), blue($color));
	color: unquote("rgba(#{red($color)}, #{green($color)},#{blue($color)}, #{$alpha})");
	color: unquote("hsla(#{str-replace(hue($color), 'deg')},#{saturation($color)}, #{lightness($color)}, #{$alpha})" );
}

@mixin box-shadow( $x, $y, $b, $w, $color, $alpha, $position: '' ) {
	box-shadow:  #{gmx($x)} #{gmx($y)} #{gmx($b)} #{gmx($w)} rgba( $color, $alpha) #{$position};
	box-shadow:  pm($x) pm($y) pm($b) pm($w) rgba( $color, $alpha) #{$position};
}

@mixin text-shadow( $x, $y, $b, $color, $alpha ) {
	text-shadow:  #{gmx($x)} #{gmx($y)} #{gmx($b)} rgba( $color, $alpha);
	text-shadow:  pm($x) pm($y) pm($b) rgba( $color, $alpha);
}

@mixin g-shad( $color: black, $opacity: .4, $width: 1.2, $blur: 0,$x: 0, $y: 0 ) {
	@include box-shadow( 0, 0, $blur, 0, $color, $opacity );

	&:hover ,
	&:focus ,
	&.focus {
		@include box-shadow( $x, $y, $blur, $width, $color, $opacity );
	}
}

@mixin g-outline( $color, $width: .22, $alpha: .3, $style: solid) {

	outline-offset: 0px;

	outline-style: $style;
	
	@include remify( outline-width, 0 );

	@include colorify( outline-color, $color, $alpha );

	&:focus ,
	&.focus {
		@include remify( outline-width, $width, !important );
	}
}

@mixin colorify( $prop, $color, $alpha: 1, $important: '' ) {
	#{$prop}: rgb( red($color), green($color), blue($color) ) #{$important};
	#{$prop}: unquote( "rgba(#{red($color)}, #{green($color)},#{blue($color)}, #{$alpha})" ) #{$important};
	#{$prop}: unquote( "hsla(#{str-replace(hue($color), 'deg')},#{saturation($color)}, #{lightness($color)}, #{$alpha})" ) #{$important};
}


@mixin create-btn ( $btn-class, $btn-color-name, $btn-text-color-name ) {
	&-#{btn-class} {
		@include bg-color( call( $btn-color-name ), 1 );
		@include color( $color__dark, 1 );
		 border-color: $color__border_dark-button;
	
		&:hover {
			@include bg-color( call( $btn-color-name )-hover, 1 );
			border-color: $color__border_dark-button-hover;
		}
	
		&:active,
		&:focus {
			border-color: $color__border_dark-button-focus;
		}
		&:after {
		}
	
		& img { 
			// border-left: 1px solid white;
			// margin-top: -#{pm(1)};
			// margin-bottom: -#{pm(1)};
		}

		&.btn-sun-glass {
			@include bg-color( call( $btn-color-name ), .4 );
			&:hover {
				@include bg-color( call( $btn-color-name )-hover, .5 );
			}
		}
	}
}
