$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #d9ffc0;
$color__background-menu: #222;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: darken(orangered, 10%);
$color__link-hover: midnightblue;
$color__text-main: #404040; 

$color__bg_link_menu: #222;
$color__bg_link_menu-hover: red;

$color__border-button: #ccc #ccc #c4c4c4;
$color__border-button-hover: #ccc #bbb #b4b4b4;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border_dark-button: #6b6b6b #727272 #696969;
$color__border_dark-button-hover: #8b8b8b #818181 #7a7a7a;
$color__border_dark-button-focus: #686868 #727272 #5a5a5a;
$color__border_light-button: #c0c0c0 #acacac #a0a0a0;
$color__border_light-button-hover: #bebebe #a5a5a5 #a0a0a0;
$color__border_light-button-focus: #aaaaaa #999999 #888888;
$color__border_danger-button: #ff0000 #eb0000 #d10000;
$color__border_danger-button-hover: #e90000 #dd0000 #c20000;
$color__border_danger-button-focus: #db3a00 #c43400 #b83100;
$color__border_warning-button: #e63d00 #d63900 #d13800;
$color__border_warning-button-hover: #db3a00 #c43400 #b83100;
$color__border_warning-button-focus: #db3a00 #c43400 #b83100;
$color__border_success-button:green #007500 #007000;
$color__border_success-button-hover: #007900 #007000 #006600;
$color__border_success-button-focus: #007900 #007000 #006600;
$color__border_primary-button: royalblue #3461e9 #2f5de9;
$color__border_primary-button-hover: #315ee6 #2354e7 #2052e9;
$color__border_primary-button-focus: #315ee6 #2354e7 #2052e9;
$color__border-input: #ccc;
$color__border-abbr: #666; 
$color__border-site-title: green;

$shadow__color-menu: 0 3px 3px hsla(0, 0%, 0%, 0.2);

$light: #d6d6d6; 
$dark: #222;
$danger: red;
$warning: orangered;
$success: green;
$primary: royalblue;

$btn__dark: $dark;
$btn__dark-hover: darken( $btn__dark, 10% );
$color__dark: $light; 
$color__dark-hover: darken( $color__dark, 10% );

$btn__light: $light;
$btn__light-hover: darken( $btn__light, 5% );
$color__light: $dark;
$color__light-hover: darken( $color__light, 10% );

$btn__danger: $danger;
$btn__danger-hover: darken( $btn__danger, 10% );
$color__danger: $light;
$color__danger-hover: lighten( $color__danger, 10% );

$btn__warning: $warning;
$btn__warning-hover: darken( $btn__warning, 10% );
$color__warning: $light;
$color__warning-hover: lighten( $color__warning, 10% );

$btn__primary: $primary;
$btn__primary-hover: darken( $btn__primary, 10% );
$color__primary: $light;
$color__primary-hover: lighten( $color__primary, 10% );

$btn__success: $success;
$btn__success-hover: darken( $btn__success, 10% );
$color__success: $light;
$color__success-hover: lighten( $color__success, 10% );

$bg_table_caption: royalblue;
$bg_table_caption-hover: lighten( $bg_table_caption, 5% );
$bg_table_caption-dark: #222;
$bg_table_caption-dark-hover: lighten( $bg_table_caption-dark, 5% );
$bg_table_link: orangered;
$bg_table_link-hover: lighten( $bg_table_link , 5% );

$bg_site-title: lightgreen;
$bg_dark: $dark;
$bg_link: $dark;
$bg_link-hover: lighten( $dark, 10% );
$bg_link-wave: lighten( $dark, 30% );