button,
input[type="button"],
input[type="reset"],
input[type="submit"] ,
.btn {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 0px;
	@include bg-color( $color__background-button, 1);
	@include color( black, .9);
	@include font-size(1);
	cursor: pointer;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active, 
	&:focus {
		border-color: $color__border-button-focus;
	}
}
.btn {
	& img { 
		vertical-align: middle;
	} 
	&-block {
		width: 100%;
	}
	&-sm {
		@include p4(1, 3, 1.5, 3);
	}
	&-md {
		@include p4(2, 5, 2.5, 5);
	}
	&-lg {
		@include p4(2.5, 5, 3, 5);

		.img {
			&-center {
				@include m4( -3, -2.5, -3, -2.5 );
			}

			&-right {
				@include m4( -2, -2.5, -2, 2.5 );
			}

			&-left {
				@include m4( -2, 2, -2, -2.5 );
			}
		}
	}

	&-arrow-down {
		position: relative;
		&:after {
			content: url(images/arrow-down.png);
			content: url(images/arrow-down.svg);
			line-height: 0;
			padding: 0px;
			position: absolute;
			bottom: 0em;
			left: 50%;
			margin-left: -12px;
			margin-bottom: -.5em;
			background: orange;
			display: none;
			opacity: 0;
			transition: margin-bottom $transition_fast, opacity $transition_fast;
		}
		&:hover:after ,
		&:focus:after ,
		&.focus:after {
			opacity: 1;
			margin-bottom: 0;
		}
	}

	&-dark {
		@include bg-color( $btn__dark, 1 );
		@include color( $color__dark, 1 );
		 border-color: $color__border_dark-button;
	
		&:hover {
			@include bg-color( $btn__dark-hover, 1 );
			border-color: $color__border_dark-button-hover;
		}
	
		&:active,
		&:focus {
			border-color: $color__border_dark-button-focus;
		}
		&:after {
		}
	
		& img { 
			// border-left: 1px solid white;
			// margin-top: -#{pm(1)};
			// margin-bottom: -#{pm(1)};
		}

		&.btn-sun-glass {
			@include bg-color( $btn__dark, .4 );
			&:hover {
				@include bg-color( $btn__dark-hover, .5 );
			}
		}
	}

	&-light {
		@include bg-color( $btn__light, 1 );
		@include color( $color__light, 1 );
		border-color: $color__border_light-button;
	
		&:hover {
			@include bg-color( $btn__light-hover, 1 );
			border-color: $color__border_light-button-hover;
		}
	
		&:active,
		&:focus {
			border-color: $color__border_light-button-focus;
		}

		&.btn-sun-glass {
			@include bg-color( $btn__light, .5 );
			&:hover {
				@include bg-color( $btn__light-hover, .7 );
			}
		}
	}
	&-danger {
		@include bg-color( $btn__danger, 1 );
		@include color( $color__danger, 1 );
		border-color: $color__border_danger-button;
	
		&:hover {
			@include bg-color( $btn__danger-hover, 1 );
			border-color: $color__border_danger-button-hover;
		}
	
		&:active,
		&:focus {
			border-color: $color__border_danger-button-focus;
		}

		&.btn-sun-glass {
			@include bg-color( $btn__danger, .5 );
			&:hover {
				@include bg-color( $btn__danger-hover, .7 );
			}
		}
	}
	&-warning {
		@include bg-color( $btn__warning, 1 );
		@include color( $color__warning, 1 );
		border-color: $color__border_warning-button;
	
		&:hover {
			@include bg-color( $btn__warning-hover, 1 );
			border-color: $color__border_warning-button-hover;
		}
	
		&:active,
		&:focus {
			border-color: $color__border_warning-button-focus;
		}

		&.btn-sun-glass {
			@include bg-color( $btn__warning, .5 );
			&:hover {
				@include bg-color( $btn__warning-hover, .7 );
			}
		}
	}
	&-success {
		@include bg-color( $btn__success, 1 );
		@include color( $color__success, 1 );
		border-color: $color__border_success-button;
	
		&:hover {
			@include bg-color( $btn__success-hover, 1 );
			border-color: $color__border_success-button-hover;
		}
	
		&:active,
		&:focus {
			border-color: $color__border_success-button-focus;
		}

		&.btn-sun-glass {
			@include bg-color( $btn__success, .5 );
			&:hover {
				@include bg-color( $btn__success-hover, .7 );
			}
		}
	}
	&-primary {
		@include bg-color( $btn__primary, 1 );
		@include color( $color__primary, 1 );
		border-color: $color__border_primary-button;
	
		&:hover {
			@include bg-color( $btn__primary-hover, 1 );
			border-color: $color__border_primary-button-hover;
		}
	
		&:active,
		&:focus {
			border-color: $color__border_primary-button-focus;
		}

		&.btn-sun-glass {
			@include bg-color( $btn__primary, .5 );
			&:hover {
				@include bg-color( $btn__primary-hover, .7 );
			}
		}
	}
}