
/**
 * Checkout Coupon Form
 *
 */
.checkout_coupon {
	input {
		padding: 5px;
		@extend .g-shad;
		transition: box-shadow $transition_fast;
	}
	button {
		@extend .btn;
		@extend .btn-lg;
		@extend .btn-success;
		@include g-shad( green, .3 );
		transition: box-shadow $transition_fast, background $transition_fast, border-color $transition_fast;
	}
}
/**
 * Checkout
 */
@media screen and (min-width: 768px) {
	.col2-set {
		.form-row-first {
			float: left;
			margin-right: $columns__margin;
		}

		.form-row-last {
			float: right;
			margin-right: 0;
		}

		.form-row-first,
		.form-row-last {
			@include column-width(2);
		}
	}
}
