/**
 * Header cart
 */
.site-header-cart {
	position: relative;
	margin: 0;
	padding: 0;
	display: inline !important;
	
	.cart-item ,
	> div {
		display: inline;
		
	}

	.cart-contents {
		text-decoration: none;
		transition: background $transition_fast;
		.amount ,
		.count {
			display: none;
			@include color( white );
		}
	}

	.widget_shopping_cart { 
		display: none;
		position: absolute;
		top: 95%;
		width: 200%;
		right: -50%;
		z-index: 999999;
		opacity: 0;
		max-height: 0;
		box-shadow: 0 3px 3px rgba(170, 91, 91, 0.2);
		transition: $transition_fast;
		transform: scaleY(0) translateY(-20px);
		transform-origin: 0% 0%;
		overflow: visible;
		@include m4( 0, 0, 0, 0 ); 
	}

	.product_list_widget {
		margin: 0;
		padding: 0;
		width: 300px;
	}
}

.widget_shopping_cart { 
	transition: $transition_fast;
	.widget_shopping_cart_content {
		background: whitesmoke;
		@include p4( 5, 0, 5, 0 );
		.woocommerce-mini-cart.cart_list {
			overflow: auto;
			@include remify( max-height, 20 );
			width: 100%;
			padding: 0;
			margin: 0;
			li ,
			.woocommerce-mini-cart-item {
				text-align: right;
				margin: 0;
				transition: background $transition_fast;
				@include bg-color( whitesmoke );
				@include p4( 2.5, 2, 2.5, 2 );
				a {
					display: inline;
					background: none;
					@include p( 0 );
					@include m( 0 );
					&:after {
						display: none;
						position: static;
					}
					&:focus {
						outline: thin dotted;
					}
				}
				span {
					display: inline-block;
				}
				.remove {
					display: inline;
					text-align: center;
					@include color( $danger );
					@include bg-color( whitesmoke );
					border: 1px solid #ccc;
					vertical-align: middle;
					@include p4( 0, 2.5, 1, 2.5 );
					line-height: 0;
					@include m( 0 );
					@include g-shad( $danger, .3, 1 );
					transition: box-shadow $transition_fast, border-color $transition_fast;
					&:hover ,
					&:focus {
						@include colorify( border-color, #ff5656 );
					}
				}
				a {
					img {
						@include pxify( width, 50 );
						@include mx( 1 );
						vertical-align: middle;
					}
				}
				.woocommerce-Price-amount.amount {
					// @include mr( 2 );
						// float: left;
				}
				.quantity {
					// @include bg-color( lightgreen, .3 );
				}

				&:nth-child(odd) {
					// @include bg-color( #e3e3e3 );
				}

				&:hover,
				&:focus {
					@include bg-color( rgb(223, 223, 223) );
				}
			}
		}
		.woocommerce-mini-cart__total {
			text-align: right;
			@include px( 2 );
		}
		.woocommerce-mini-cart__buttons {
			display: flex;
			@include mb( 0 );
			text-align: center;
			a {
				transition: box-shadow $transition_fast,
				background $transition_fast;
				@include mx( 2 );
				@include px( 1 );
			}
			a.wc-forward {
				@extend .btn-warning;
				@include g-shad ( $warning );
				flex: 1.5;
			}
			a.wc-forward.checkout {
				@extend .btn-danger;
				@include g-shad ( $danger );
				@include mr( 0 );
				flex: 1;
			}
		}
		.woocommerce-mini-cart__empty-message {
			margin: 0;
			@include px( 2 );
		}
	}
	&:before {
		content: '';
		border: 8px solid;
		border-width: 0px 8px 8px 8px;
		border-color: transparent transparent whitesmoke;
		line-height: 0;
		margin-top: -8px;
		position: absolute;
		opacity: 0;
		transition: $transition_fast;
	}

}
/**
 * woocommerce breadcrumb
 */

 .woocommerce-breadcrumb {
	 @include m4( 5, 2, 5, 2);
		@extend .spacial-links;
	  a {
			@include m4( 5, 1, 5, 1);
			@extend .g-shad;
			@extend .btn;
			@extend .btn-sm;
			display: inline-block;
			&:hover {
				@extend .g-shad-hover;
			}
			transition: $transition_fast;
	  }
 }
 
 /**
  *
  * woocommerce ordering
  */

 .woocommerce-ordering {
   display: flex;
   select {
     @include p(2);
     @include m(1);
     flex:1;
   }
 }
 
 /**
  * cart sytles
  */
.row-absolute {  
	//  @include m(2);
	 position: relative;
	 @include remify( top, .4 );
	 @include remify( right, .4 );
	 & , * {
		 box-sizing: border-box;
	 }
 .onsale {
	//  @include m(2);
	 position: absolute;
   @include bg-color( whitesmoke, 1 );
   @include color( $bg_dark, 1 ); 
   line-height: 0;
	 @include remify( padding, 2.1 );
   width: 0;
	 border-radius: 50%;
	 text-align:center;
   z-index: 3;
	 background: transparent;
	 overflow:hidden;
   
   &:after {
		content: '';
		position: absolute;
		@include remify( top, .27 );
		@include remify( left, .245 );
		z-index: -1;
		@include remify( padding, 1.8 );
		border-radius: 50%;
		background: linear-gradient( to top, yellow 0%, lighten(yellowgreen, 5%) 50%, yellowgreen 50%, yellow) ;
	}
	&:before {
		content: '';
		position: absolute;
		@include remify( top, -.5 );
		@include remify( left, -.5 );
		z-index: -2;
		padding: 0;
		border: inset yellowgreen;
		@include remify( border-width, 2.5 );
		animation: rotate 1s infinite linear;
	}

	.onsale-text {
		position: absolute;
		right:0;
		@include remify( top, 2 );
		display: block;
		text-align: center;
		margin: auto;
		width: 100%;
	}
 }
}
 
 @keyframes rotate {
   from{ transform: rotate(0deg); }
   to { transform: rotate( 360deg ); }
 }
 
/**
 * Star rating
 */
 .star-rating {
	overflow: hidden;
	position: relative;
	height: 1.618em;
	line-height: 1.618;
	font-size: 1em;
	width: 5.3em;
	font-family: 'star';
	font-weight: 400;
  @include mb(5);
  @include mr(2);

	&:before {
		content: "\53\53\53\53\53";
		opacity: .25;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
	}

	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
	}

	span:before {
		content: "\53\53\53\53\53";
		top: 0;
		position: absolute;
		left: 0;
		color: $color__link;
	}
}

p.stars {
	a {
		position: relative;
		height: 1em;
		width: 1em;
		display: inline-block;
		text-decoration: none;
		margin-right: 1px;
		font-weight: 400;

		&:before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 1em;
			height: 1em;
			line-height: 1;
			font-family: "star";
			content: "\53";
			color: $color__text-main;
			text-indent: 0;
			opacity: .25;
		}

		&:hover {
			~ a:before {
				content: "\53";
				color: $color__text-main;
				opacity: .25;
			}
		}
	}

	&:hover {
		a {
			&:before {
				content: "\53";
				color: $color__link;
				opacity: 1;
			}
		}
	}

	&.selected {
		a.active {
			&:before {
				content: "\53";
				color: $color__link;
				opacity: 1;
			}

			~ a:before {
				content: "\53";
				color: $color__text-main;
				opacity: .25;
			}
		}

		a:not(.active) {
			&:before {
				content: "\53";
				color: $color__link;
				opacity: 1;
			}
		}
	}
}

/**
 * Tabs
 */
.woocommerce-tabs {
	ul.tabs {
		list-style: none;
		@include m4( 5, 0, 0, 0 );
		padding: 0;
		text-align: left;
		border-bottom: 1px solid #ddd;
		overflow: hidden;

		li {
			display: block;
			margin: 0;
			position: relative;
			float: right;

			a {
				// @include p4( 5, 2.5, 5, 2.5 );
				@extend .btn;
				@extend .btn-lg;
				@extend .btn-light;
				// border-bottom: none;
				display: block;
			}

			&.active {
				a {
					@extend .btn-primary;
				}
			}
		}
	}

	.panel {
		@include m4( 0, 2, 0, 2 );
		text-align: justify;
		h2:first-of-type {
			margin-bottom: 1em;
		}
	}
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
	text-align: right;
	display: block;
	float: none;
	width: 100%;	margin-top: -.2rem;
	// background: red;
	

	&.strong {
		color: $woocommerce__color-success;
	}

	&.short {
		color: $woocommerce__color-error;
	}

	&.bad {
		color: $woocommerce__color-error;
	}

	&.good {
		color: $woocommerce__color-info;
	}
}

/**
 * Forms
 */
.form-row {
	&.woocommerce-validated {
		input.input-text {
			@include box-shadow( 1, 0, 0, 0, $woocommerce__color-success, 1, inset );
			border: 1px solid rgba( $woocommerce__color-success, .4 );
			@include colorify( outline-color, $woocommerce__color-success, .22, !important );
		}
	}

	&.woocommerce-invalid {
		input.input-text {
			@include box-shadow( 1, 0, 0, 0, $woocommerce__color-error, 1, inset );
			border: 1px solid rgba( $woocommerce__color-error, .4 );
			@include colorify( outline-color, $woocommerce__color-error, .22, !important );
		}
	}
}

.required {
	color: red;
	padding: 0;
	vertical-align: super;
	right: 0;
}

/**
 * Based on Woocomerce Comments
 */
 .woocommerce-Reviews
 {
	 #comments {
		 .woocommerce-Reviews-title {
		 }
 
		 ol {
			 list-style: none;
			 padding: 0;
			 margin: 0;
			 li {
				 padding: 0;
				 @include m4( 5, 0, 5, 0 );
				 // @include colorify( background, lightgreen );
				 span {
					 display: inline-block;
				 }
				 > div , .comment-text{
					 overflow: hidden;
					 img {
						 float: right;
						 @include m4( 0, 0, 0, 2 );
					 }
				 }
				 .comment-text {
					 border-right: 2px solid #888;
				 	 border: 1px solid #bbb;
					 @include px( 2 );
					 background: whitesmoke;
					 div {
						 @include m4( 2.5, 0, 0, 0 );
					 }
					 p {
						 @include m4( 1, 0, 7.5, 0 );
					 }
				 }
			 }
		 }
	 }
 }
/**
 * Notices
 */
.woocommerce-message {
  position: fixed;
  top: 1rem;
  @include box-shadow( 0, 0, 1, 1, green, .3 );
  @include bg-color( green, .8 );
}
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
  position: relative;
	@include clearfix;
	@include bg-color( $woocommerce__color-success, 1 );
  clear: both;
  z-index: 999;
  @include m4( 0, 2.5, 5, 2.5, !important );
  @include mb(5);
  @include remify( padding, .5 );
  @include box-shadow( 0, 0, 1, 1, green, .3 );
  @include bg-color( green, .8 );
  @include remify( border-radius, .2 );
  @include color( white, 1 );
  line-height: 2;
  @include p4( 5, 2.5, 5, 17.5 );
  display: inline-block;
  width: calc( 100% - 1rem );
  @include remify( min-height, 4 );
  animation: drop-down 1s linear;

	.alert-content ,
	& {
		a ,
		a.button {
			@include color( white, 1 );
			border-bottom: 1px dotted white;
			background: none;
			padding: 0px;
			border-right: none;
			border-top: none;
			border-left: none;
			font-weight: bolder;
			outline: none;
			box-shadow: none;
			@include mx( 1 );
			&:focus {
				outline: thin dotted;
				border: none;
			}
    }
  }
  
  .close {
    // transition: box-shadow $transition_fast;
    position: absolute;
    @include remify( left, .4 );
    @include remify( top, .4 );
    cursor: pointer;
    @extend .btn-md;
    @include font-size( 1.4 );
    line-height: 1.5;
    @include g-shad( yellow, .2, .5 );
  }
}
.closed {
  display: none;
}
.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
  @include box-shadow( 0, 0, 1, 1.2, $woocommerce__color-info, .3 );
  @include bg-color( $woocommerce__color-info, 1 );
}

.woocommerce-error {
  @include box-shadow( 0, 0, 1, 1.2, $woocommerce__color-error, .3 );
  @include bg-color( $woocommerce__color-error, 1 );
  @include m4( 0, 2.5, 5, 2.5, !important );
  @include pr( 10, !important );
}

.demo_store {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
  @include p( 5 );
	background-color: $woocommerce__color-info;
	z-index: 9999;
}
.woocommerce-checkout-payment {
  ul {
    @include p(0, !important);
    li {
      @include p(2.5, !important);
    }
  }
  .form-row ,
  .place-order {
    button {
      @extend .btn;
      @extend .btn-lg;
      @extend .btn-danger;
      @extend .btn-block;
    }
  }
}
/**
 * Pagination
 */
.woocommerce-pagination {
		text-align: center;
	.page-numbers {
		list-style: none;
		@include p(0);
		@extend .spacial-links;
		display: inline-block;
		li {
			@extend .m-1;
			@extend .f-left;
			a {
			@extend .btn;
			@extend .btn-lg;
			@extend .g-shad;
			transition: box-shadow $transition_fast;
				&:hover {
					@extend .g-shad-hover;
				}
			}
			span {
				@extend .btn-lg;
			}
		}
	}
}

/**
 * Navigation
 */
.woocommerce-MyAccount-navigation {
	display: block;
	clear: both;
	overflow: hidden;
	ul {
		list-style: none;
		@include p( 0, !important );
		li {
			@include p( 0 );
			@include m( 0 );
			list-style: none;
			float: right;
			margin-left: auto;
			width: 50%;

			&:nth-of-type( odd ) {
				float: right;
				clear: right;
			}
			
			a {
				@extend .btn;
				@extend .btn-lg;
				@extend .btn-primary;
				display: block;

			}
		}
	}
}

/**
 * Product Styles
 */
.product_meta {
	@extend .spacial-links;
	// @include p4( 0, 2, 0, 2 );
	.sku_wrapper ,
	.posted_in {
		display: block;
		@include m4( 2.5, 0, 2.5, 0 );
	}
}
.single_variation_wrap {
	.woocommerce-variation ,
	.single_variation {
		@include m4( 5, 0, 5, 0 );
	}
}

@media ( min-width: 720px ) and (min-width: 45rem) {

	/**
	* Header cart
	*/
	.site-header-cart {
		margin: -3.5rem auto 0;
		display: block !important;
		@include pxify( width, 250 );
		
		.cart-item ,
		> div {
			display: inline;
			
		}

		.widget_shopping_cart {
			display: block;
		}


		&:hover ,
		&.focus {
			.widget_shopping_cart {
				opacity: 1;
				@include remify( max-height, 29 );
				transform: scaleY(1) translateY(0px);
				&:before {
					opacity: 1;
				}
			}
		}
		.cart-contents {
			img {
				@include ml( 1 );
			}
			text-decoration: none;
			width: 100%;
			@include mx( 0 );
			.amount ,
			.count {
				display: inline;
			}
		}


		.product_list_widget {
			margin: 0;
			padding: 0;
			width: 300px;
		}
	}
}
