/**
 * Products
 */
ul.products {
	@include clearfix;
	@include p(0, !important);
		@include m4( 5, auto, 0, auto, !important );
	
	a {
		@include color( #333 );
		&:focus {
			outline: none;
		}
	}

	.product {
		list-style: none;
		position: relative;
		margin-bottom: 2em;
		@include bg-color( whitesmoke, 1 );
		border: 1px solid;
		border-color: $color__border-button;
		@extend .g-shad;
		transition: box-shadow $transition_fast;
        
		.woocommerce-loop-product__title {
			font-size: 1rem;
			@include p(2);
			@include mb(2);
		}
        
        .price {
		  @include p( 2 );
        }

		img {
			display: block;
			@include m4( 0, auto, 0, auto );
		}
		
		a {
			transition: color $transition_fast, background $transition_fast, border $transition_fast;
		}

		.button ,
		.added_to_cart.wc-forward {
			display: block;
            @extend .btn;
            @extend .btn-lg;
			@extend .btn-warning;
            @include mt(5);
			text-align: center;

			&.product_type_variable {
				@extend .btn-primary;
			}
		}
		.added_to_cart.wc-forward {
			@extend .btn-primary;
		}
		&:hover {
			@extend .g-shad-hover;
		}
	}
}


.cart_totals {
	.shop_table ,
	.shop_table_responsive {

	}
	.wc-proceed-to-checkout {
		.checkout-button {
			transition: border-color $transition_fast, background $transition_fast, box-shadow $transition_fast;
			@extend .btn;
			@extend .d-block;
			@extend .btn-lg;
			@extend .btn-danger;
			@include g-shad( orangered, .63, 1.5 );
			text-align: center;
		}
	}

}

@media ( min-width: 720px ) and ( min-width: 45rem ) {
	ul.products {
		li.product {
			@include column-width(3);
			float: left;
			margin-right: $columns__margin;

			&.first {
				clear: both;
			}

			&.last {
				margin-right: 0;
			}
		}
	}
	@supports ( display: flex ) {
		ul.products {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: stretch;
			li.product {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				@include column-width(3);
				@include m4( 0, 0, 8, 0 );
			}
		}
	}

	.columns-1 {
		ul.products {
			li.product {
				float: none;
				width: 100%;
			}
		}
	}

	@for $i from 2 through 6 {
		.columns-#{$i} {
			ul.products {
				li.product {
					@include column-width( $i );
				}
			}
		}
	}
}
