/**
 * Single Product
 */
.single-product {
	// text-align: justify;
	// @include p4( 0, 2, 0, 2 );
	div.product {
		@include clearfix;
		position: relative;
		width: 100%;
		max-width: 100%;
		overflow: hidden;

		.row-absolute {
			@include remify( top, 1.5 );
			position: absolute;
			opacity: .7;
			z-index: 99;
		}

		.woocommerce-product-gallery {
			position: relative;
			max-width: 100%;
			height: auto;
			overflow: hidden;
			text-align: center;

			.woocommerce-product-gallery__trigger {
				position: absolute;
				@include remify( top, 2 );
				@include remify( left, 1 );
				display: block;
				z-index: 99;
			}

			.flex-viewport {
				margin-bottom: 1em;
			}

			.flex-control-thumbs {
				@include clearfix;
				margin: 0;
				padding: 0;
				margin: 0 auto;
				
				li {
					list-style: none;
					cursor: pointer;
					float: right;

					img {
						opacity: .5;

						&.flex-active {
							opacity: 1;
						}
					}

					&:hover {
						img {
							opacity: 1;
						}
					}
				}
			}

			@for $i from 2 through 5 {
				&.woocommerce-product-gallery--columns-#{$i} {
					.flex-control-thumbs {
						li {
							@include column-width($i);

							&:nth-child(#{$i}n) {
								margin-right: 0;
							}

							&:nth-child(#{$i}n+1) {
								clear: both;
							}
						}
					}
				}
			}
		}
		.comment-form {
			@extend .simple-form;
			.comment-notes ,
			.email-notes {
				display: block;
			}

			.comment-form-rating {
				border: 1px solid #ccc;
				text-align: center;
				padding-top: 1rem;
				@include colorify( background, whitesmoke);
				.stars {
					line-height: 3;
					margin-bottom: 0;
					> span {				
						display: block;
						margin: 0 auto;
					}
				}
			}
			.submit {
				@extend .btn-last;
				@extend .btn;
				@extend .btn-lg;
				@extend .btn-primary;
			}
		}
	}
}
.single_add_to_cart_button {
	@include mt( 5 );
}
.pswp__caption__center {
	text-align: right !important;
}

.stock {
	&:empty:before {
		display: none;
	}

	&.in-stock {
		color: $woocommerce__color-success;
	}

	&.out-of-stock {
		color: $woocommerce__color-error;
	}
}
