/**
 * Shop tables
 */
table.shop_table_responsive {
	thead {
		display: none;
	}

	tbody {
		th {
			display: none;
		}
	}

	tr {
		td {
			display: block;
			text-align: right;
			clear: both;

			img {
				@extend .d-block;
				@include m4( 0, auto, 0, auto );
			}

			&:nth-child( n + 3 ) {
				@include mx( 2 );
			}

			&:before {
				content: attr(data-title) ': ';
				float: right;
				width: 20%;
				vertical-align: bottom;
			}

			&.product-remove {
				a {
					text-align: center;
					@include font-size( 1.5 );
					@extend .btn;
					@extend .btn-sm;
					@extend .btn-danger;
					display: block;
					@extend .g-shad;
					transition: box-shadow $transition_fast, background $transition_fast, border $transition_fast;
					&:hover {
						@extend .g-shad-hover;
					}
					@extend .btn-arrow-down;
				}

				&:before {
					display: none;
				}
			}

			&.product-thumbnail {
				&:before {
					display: none;
				}
			}

			&.actions,
			&.download-actions {
				&:before {
					display: none;
				}

				.button {
					@extend .btn;
					@extend .btn-lg;
					@extend .btn-warning;
					@extend .btn-block;
					@include mt(5);
					transition: border-color $transition_fast, background $transition_fast;
				}

				.coupon ,
				.checkout_coupon {
					.button {
						@include mt(4);
						@extend .btn-success;
					}
				}

			}

			&.download-actions {
				.button {
					display: block;
					text-align: center;
				}
			}
		}
	}
}

@media screen and (min-width: 48em) {
	table.shop_table_responsive {
		thead {
			display: table-header-group;
		}

		tbody {
			th {
				display: table-cell;
			}
		}

		tr {
			th, td {
				text-align: left;
			}

			td {
				display: table-cell;

				&:before {
					display: none;
				}
			}
		}
	}
}
