/**
 * WooCommerce Price Filter
 */
.widget_price_filter {

	.widget-title {
		@include mb( 5 );
	}

	.price_slider {
		margin-bottom: 1.5em;
		@include mx( 2 );
	}

	.price_slider_amount {
		text-align: right;
		line-height: 2.4em;

		.button {
			float: left;
		}
		.price_label {
			padding: 0 .2rem;
		}
	}

	.ui-slider {
		position: relative;
		text-align: left;
	}

	.ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 1em;
		height: 1em;
		cursor: ew-resize;
		outline: none;
		background: $color__link;
		box-sizing: border-box;
		margin-top: -.25em;
		opacity: 1;

		&:last-child {
			margin-left: -1em;
		}

		&:hover,
		&.ui-state-active {
			box-shadow: 0 0 0 .25em rgba(#000, 0.1);
		}
	}

	.ui-slider .ui-slider-range {
		position: absolute;
		z-index: 1;
		display: block;
		border: 0;
		background: $color__link;
	}

	.price_slider_wrapper .ui-widget-content {
		background: rgba(0,0,0,0.1);
	}

	.ui-slider-horizontal {
		height: .5em;
	}

	.ui-slider-horizontal .ui-slider-range {
		height: 100%;
	}
}

.widget_recent_reviews {
	ul {
		li {
			&:hover ,
			&:focus ,
			&.focus {
				@include bg-color( lighten($color__dark-hover, 5%), 1 );
			}
			a {
				&:hover ,
				&:focus ,
				&.focus {
					background: none;
				}
				img {
					float: right;
					@include pxify( width, 50 );
					@include ml( 2 );
				}
			}
			div ,
			span {
				display: inline-block;
				vertical-align: top;
			}
			.star-rating {
				@include m4( 0, 1, 1, 2 );
			}
		}
	}
}

.woocommerce.widget_product_categories ,
.woocommerce-widget-layered-nav {
	ul {
		li {
			display: list-item;
			a {
				@include pr( 1 );
				display: inline-block;
			}
		}
	}
}

.widget_rating_filter {
	ul {
		li {
			a {}
			span {
				display: inline-block;
				vertical-align: top;
				@include mb( 1 );
			}
		}
	}
}