/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

	&:focus {
		background-color: $color__background-screen;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		clip-path: none;
		color: $color__text-screen;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

.d {
  &-inline-block {
    display: inline-block;
  }
  &i-inline-block {
    display: inline-block !important;
  }

  &-inline {
    display: inline;
  }
  &i-inline {
    display: inline !important;
  }

  &-block {
    display: block;
  }
  &i-block {
    display: block !important;
  }

  &-none {
    display: none;
  }
  &i-none {
    display: none !important;
  }

  &-flex {
    display: flex;
  }
  &i-flex {
    display: flex !important;
  }
}

.v {
	&-top {
		vertical-align: top;
	}

	&-middle {
		vertical-align: middle;
	}

	&-bottom {
		vertical-align: bottom;
	}
}

.flex {
	&-middle {
		align-items: center;
	}
}

.f {
	&-right {
		float: right;
	}

	&-left {
		float: left;
	}

	&-none {
		float: none;
	}
}
.c {
	&-right {
		clear: right;
	}

	&-left {
		clear: left;
	}

	&-both {
		clear: both;
	}
}

.w {
	&-100 {
		width: 100%;
	}
}

.g-shad {
	@include box-shadow( 0, 0, 0, 0, $bg_table_caption, .4 );

	&:focus,
	&.focus {
		@extend .g-sh-event;
	}
}

.g-shad-hover {
	&:hover {
		@extend .g-sh-event;
	}
}

.g-sh-event {
	@include box-shadow( 0, 0, 0, 1.2, $bg_table_caption, .4 );
}

.simple-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
	flex-wrap: wrap;

	[type='text'] ,
	[type='search'] ,
	[type='password'] ,
	textarea {
		display: block;
		@include m4( 2, 0, 2, 0 );
		// background: red;
		width: 100%;
		flex: 1;
	}
	[type="button"] ,
	[type="submit"] ,
	button {
		@extend .btn;
		@extend .btn-lg;
		@extend .btn-primary;
		@extend .btn-block;
	}
	select {
		flex: 1;
	}
	p {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		// @extend .btn-group;
	}
	label {
		display: inline-block;
		width: 100%;
	}
	span.required {
		
	}
}

%ex {
	background: red;
}

.btn-group {
	@include m4( 2.5, 0, 2.5, 0 );
	> button, 
	> [type='reset'], 
	> [type='button'],
	> [type='submit'],
	> .btn {
		@include m4(1, 0, 1, 2);
	}
	> button:last-of-type,  
	> [type='submit']:last-of-type, 
	> [type='reset']:last-of-type, 
	> [type='button']:last-of-type,
	> button:nth-last-of-type(1),
	> [type='submit']:nth-last-of-type(1), 
	> [type='reset']:nth-last-of-type(1), 
	> [type='button']:nth-last-of-type(1),
	> .btn:last-of-type ,
	> .btn:nth-last-of-type(1) ,
	.btn-last {
		@include m4(1, 0, 1, 0);
	}
}

.spacial-links {
	a {
		border: 1px solid #888;
		border-color: $color__border-button;
		@include px(2);
		border-radius: gmx(1);
		@include bg-color( whitesmoke, 1 );
		@include color( $bg_dark, 1 );

		&:hover,
		&:focus,
		&.focus {
			border-color: $color__border_dark-button; 
		}
	}
}

.button {
	@extend .btn;
	@extend .btn-lg;
	@extend .btn-block;
	@extend .btn-primary;
	@extend .g-shad;
	@include m( 0 );
	&:visited {
		@include colorify( color, white, 1, !important ); 
	}
}

.spacial-title {
	@include p4(1, 2, 1, 2);
	border: 0;
	border-right: gmx(1) solid $color__border-site-title;
	border-right: pm(1) solid $color__border-site-title;
	@include bg-color( $bg_site-title, .5);
	background: linear-gradient( to left, rgba( $bg_site-title, .5 ) 50%, transparent );
	color: #ff9900;
	display: inline-block;
	width: 100%;
	text-shadow: #{gmx(.2)} #{gmx(.2)} #{gmx(.4)} black , -#{gmx(.2)} -#{gmx(.2)} #{gmx(.4)} black , -#{gmx(.2)} #{gmx(.2)} #{gmx(.4)} black , #{gmx(.2)} -#{gmx(.2)} #{gmx(.4)} black;
	text-shadow: #{pm(.2)} #{pm(.2)} #{pm(.4)} black , -#{pm(.2)} -#{pm(.2)} #{pm(.4)} black , -#{pm(.2)} #{pm(.2)} #{pm(.4)} black , #{pm(.2)} -#{pm(.2)} #{pm(.4)} black;
}

@keyframes drop-down {
  from { transform: translateY( -200% ); }
  to { transform: translateY( 0% );}
}

@keyframes drop-up {
  0% { transform: translateY( 100% ); }
  100% { transform: translateY( 0% ); }
}

.screen-ie-text {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	max-width: 0;
	max-height: 0;
	color: white;
}