/*!
 * Theme Name: Bigprs Official theme
 *
 * Layout: Sidebar-Content
 *
 * Learn more: https://developer.wordpress.org/themes/basics/template-files/
*/

@import '../variables-site/structure.scss';
@import '../mixins/mixins-master.scss';

.content-area {
	margin: 0;
}

.site-main {
	margin: 0;
}

.site-content .widget-area {
	// width: $size__site-main; 
}

@media (min-width: 45rem) and (min-width: 45rem) {
	.content-area {
		float: right;
		margin: 0;
		@include remify( margin-left, -($size__site-sidebar + 1.6) );
		width: $size__site-main;
		// @include p4( 0, .8, 0, .4 );
	}

	.site-main {
		margin: 0;
		@include remify( margin-left, ($size__site-sidebar + 1.6) );
		@include pr( 4 );
	}

	.site-content .widget-area {
		float: left;
		overflow: hidden;
		@include remify( width, $size__site-sidebar, !important );
		@include ml( 4 );
	}

	.site-footer {
		clear: both;
		width: $size__site-main;
	}
}