h1, h2, h3, h4, h5, h6 {
	clear: both;
	@include my( 5 );
}
h1 { 
	@include font-size(1.8); }
h2 { 
	@include font-size(1.65); }
h3 { 
	@include font-size(1.5); }
h4 { 
	@include font-size(1.35); }
h5 { 
	@include font-size(1.2); }
h6 { 
	@include font-size(1.05); }